<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>

    <add name="raConnection" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = WIN-Q2TSU0TSC99)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = XEPDB1)));Persist Security Info=True;Password=RABILLING123;User ID=RABILLING" providerName="System.Data.OracleClient" />
    <!-- production server endss-->
  </connectionStrings>
  <location path="RA_Billing_UserManual.pdf">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
    <!-- <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
          <add verb="HEAD" allowed="false" />
          <add verb="TRACE" allowed="false" />
        </verbs>
          <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
-->
    <!-- <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <remove name="X-Powered-By" />
         <remove name="Server" />       
       </customHeaders>
    </httpProtocol>
    -->
  </system.webServer>
  <system.web>
    
      <codeSubDirectories>
        <add directoryName="CSCode" />
        <add directoryName="VBCode" />
      </codeSubDirectories>
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!-- <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /> -->
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="auth" loginUrl="Login.aspx" protection="All" defaultUrl="Default.aspx" timeout="20" />
    </authentication>
    <urlMappings enabled="true">
      <!--<add url="~/Bill_Entry" mappedUrl="RA_Bill_Entry.aspx" />-->
      <add url="~/Bill_Entry" mappedUrl="RA_New_Bill_Entry.aspx" />
      <add url="~/SplitActivity" mappedUrl="RA_SplitActivity.aspx" />
      <add url="~/Add_Users" mappedUrl="RA_Add_User.aspx"/>
      <add url="~/Reg_Contractor" mappedUrl="RegContractor.aspx" />
      <add url="~/Reset_Password" mappedUrl="RegResetPassword.aspx" />
      <add url="~/Site_Edit_qty" mappedUrl="RA_EditSiteQty.aspx" />
      <add url="~/Add_qty" mappedUrl="RA_Add_Quantity.aspx" />
      <add url="~/ApproveActivity" mappedUrl="RA_Approve_Activity.aspx" />
      <add url="~/GenerateBill" mappedUrl="RA_Generate_Bill_sample.aspx" />
      <add url="~/PopulateData" mappedUrl="RA_Populate_job_data.aspx"/>
      <add url="~/UpdateChecklist" mappedUrl="RA_Update_Checklist.aspx" />
      <add url="~/Gen_Statement" mappedUrl="RA_GenerateStatement.aspx" />
      <add url="~/Update_MOP" mappedUrl="RA_MOP_Update.aspx" />
      <add url="~/Add_MOP_details" mappedUrl="RA_MOP_Fill.aspx" />
      <add url="~/Edit_Percent" mappedUrl="RA_Edit_Percentage.aspx" />
      <add url="~/Edit_Tender" mappedUrl="RA_Edit_Tender.aspx" />
      <!--<add url="~/RAMerge" mappedUrl="RA_Merge_Bills.aspx"/>-->
      <add url="~/RALSTKBills" mappedUrl="LSTK_Bills.aspx" />
      <add url="~/RAeditMOP" mappedUrl="RA_Edit_MOP.aspx" />
      <!-- Quality Circle Team -82 related new modules Email dated 18-Aug-2023 -->
      <add url="~/EditSORRate" mappedUrl="RA_Edit_SOR_Rates.aspx" />
      <add url="~/New_Bill_Entry" mappedUrl="RA_New_Bill_Entry.aspx" />
    </urlMappings>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  <!--<system.net>
    <mailSettings>
      <smtp from="itsapp@eil.co.in">
        <network host="relay.emailgov.in"
         port="465" enableSsl="true"
         userName="itsapp@eil.co.in"
          password="Eil@1234" />
      </smtp>
    </mailSettings>
  </system.net>-->
  <!--<system.net>
    <mailSettings>
      <smtp from="support1.eil@nic.in">
        <network host="relay.emailgov.in"
         port="465" enableSsl="true"
         userName="support1.eil@nic.in"
          password="Eil@12345$$" />
      </smtp>
    </mailSettings>
  </system.net>-->
</configuration>